asgiref==3.7.2
boto3==1.34.19
botocore==1.34.19
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0
django-environ==0.11.2
django-storages==1.14.2
docutils==0.21.1
idna==3.7
jmespath==1.0.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivymd==1.2.0
pillow==10.2.0
psycopg2==2.9.9
Pygments==2.17.2
pypiwin32==223
python-dateutil==2.8.2
pywin32==306
requests==2.31.0
s3transfer==0.10.0
six==1.16.0
SpeechRecognition==3.10.3
sqlparse==0.4.4
sr==0.1.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.0.7
PyAudio==0.2.11
plyer==2.0.0
gTTS==2.2.2
